@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-dots {
    background-image: 
      radial-gradient(rgb(38, 38, 38) 5%, transparent 5%),
      radial-gradient(rgb(38, 38, 38) 5%, transparent 5%);
    background-position: 0px 0px, 15px 15px;
    background-size: 15px 15px;
    background-color: rgb(255, 255, 255);
  }
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}