@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #e5e5e5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #a3a3a3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #737373; 
}